.guides {
  // width: 100%;
  // height: 100%;
  // background-image: url('../img/guidesback.jpg');

  // @extend teal, .lighten-2;
  // background-color: teal;
  color: white;
  font-family: 'Alegreya', serif;
  text-align: center;
  h1 {
    margin: 0;
    color: white
  }
  p {
    width: 75%;
    margin: auto;
    word-wrap: break-word;

  }
}

.gm {
  color: black;
}

.guide-box {
  width: 100%;
}

.resorts {
  text-align: center;
}

.parallax-container  {
  margin: 10px 0;

  h1 {
    color: white;
  }
  p {
    color: white;
    width: 75%;
    margin: auto;
    font-size: 19px;
    font-weight: bold;
  }
}
