.menuD{
  // float: right;
  // position: fixed;
  right: 6px;
  z-index: 3;
}
.userView {
  height: 201px;
}

.tv {
  width: 100%;
  height: 200px;
  background-size: cover;
}
i.medium {
   float: right;
    font-size: 3rem !important;
}
// nav {
//   height: 40px;
//   line-height: 40px;
// }

// .small {
//   font-size: !important 3rem;
// }
