<menu-directive class="menuD gm"></menu-directive>
<br>
<!-- <div >
Go Forth

</div> -->
<br>


<section class="guides  teal ">
<!-- Parent of 'featured', nested ui-view  -->
  <h1>Guides</h1>
<!-- class='slideInLeft'
class='slideInRight' -->
  <div class="guide-box"
    data-aos="fade-up-right"
     data-aos-offset="500"

     	>
    <video  src="../img/gifguide.mp4" autoplay loop></video>
    <h1 id="one">1</h1>
      <p>In short, you'll need clothing that keeps you warm and dry, a pair of snowboarding boots, and some safety gear.
      The full rundown of snowboarding equipment available is a long list, but these are the basics every snowboarder should have:
      A snowboard leash, to prevent runaway boards
      Snow pants or a snow bib, which is basically a pair of snow overalls
      A snow coat, not too loosely fit
      Snowboarding boots, which are specially designed to strap easily into the snowboard
      A crash helmet, to protect your head
      Thermal layers, such as long johns and wool socks
      Snow gloves with gauntlet cuffs
      Skiing or snowboarding goggles, to reduce glare and protect your eyes from particulate matter.
    </p>
  </div>

  <div data-aos="fade-up-left"
       data-aos-offset="450"

     >
    <video id="two"  src="../img/guide2.mp4" autoplay loop ></video>
    <h1>2</h1>
      <p>I
Consider getting a stomp pad. This is a grip pad that goes on your snowboard, just above the binding for your back foot. It gives you a place to put your back foot temporarily, for times when you need to move a little ways but you haven't bound both of your feet to the board yet.
    </p>
  </div>

  <div data-aos="fade-up-right"
   data-aos-offset="500"
  data-aos-anchor="#three"
     >
    <video id="three" src="../img/guide3.mp4" autoplay loop>
    </video>
    <h1 >3</h1>

      <p >
        Consider getting a stomp pad. This is a grip pad that goes on your snowboard, just above the binding for your back foot. It gives you a place to put your back foot temporarily, for times when you need to move a little ways but you haven't bound both of your feet to the board yet.
    </p>
  </div>

  <div
    data-aos="fade-up-left"
   data-aos-offset="600"
   data-aos-anchor="#four"
   >
    <video id='four' src="../img/guide4.mp4" autoplay loop></video>
    <h1>4</h1>
      <p >
        Pick a snowboard style. Most snowboards are designed for general use, but if you're more interested in one or another specific aspect of the sport, there are specialized boards that can maximize your experience.
        All-mountain or freeride boards are the standard snowboards you'll see everywhere on the mountain. They're great for speed and carving (turning) on a downhill slope, but still short and wide enough to excel at tricks, spins, and catching big air, as well.
        Freestyle or technical boards are a little bit shorter and wider than all-mountain models. They're more flexible as well, which gives them superior control for precise movements. Freestyle boards are preferred for riding pipes and technical courses, but are also a good choice for many beginners because of their responsiveness.
        Alpine or carve boards are longer, thinner, and less flexible than the other two types. They're built for high speed and smooth carving down the side of the mountain. If a fast downhill experience is what you're after, consider an alpine board.
    </p>
  </div>

  <div
    data-aos="fade-up-right"
    data-aos-offset="600"
    data-aos-anchor="#five"
    >
    <img id='five' src="../img/guideimg1.jpg" alt="">
    <h1>5</h1>
      <p >
        Check the width of the board. The only really important consideration for board width is keeping your feet completely on the board. Be sure the board you choose is wide enough that your feet don't jut off the sides of the board. Even a bit of heel sticking out could catch on the snow and mess up your ride.
    </p>
  </div>

  <div data-aos="fade-up-left"
   data-aos-offset="600"
   data-aos-anchor="#six"
   >
    <video id='six' src="../img/guide5.mp4" autoplay loop></video>
    <h1>6</h1>
      <p >
        Determine your lead foot. You should know which foot you'll be leading with before you head up to the slopes. This will help you know how to set the bindings when you snowboard. An easy way to check your lead foot is to run and slide across a very smooth floor, such as polished concrete or hardwood. Whichever foot ends up sticking out in front of you is your lead foot. Another way to find your lead foot is to stand with your feet squared and have a friend push you from behind. The foot you step forward with first should be your lead foot.
        *Don't guess. Your lead foot won't necessarily match up with the side of your body you prefer for anything else. Being right- or left-handed, or sliding into base with a particular foot in baseball, doesn't necessarily mean your lead foot will follow suit.
        *Don't worry. If you find that you prefer not to lead with your lead foot, nothing's stopping you from doing so. Finding your lead foot is just a useful way for most people to figure out which way to stand on the board. It's not set in stone.
    </p>
  </div>

  <div
    data-aos="fade-up-right"
    data-aos-anchor="#seven"
   data-aos-offset="600">
    <img  id='seven' src="../img/guideimg2.jpg" alt="">
    <h1>7</h1>
      <p >

        Fit your bindings. Put your lead foot in the front binding. Fasten your bindings tightly and be sure the base of the binding fits your boot snugly, then repeat for your other foot. Move and bounce around a bit to get a feel for the board.
        If the board seems to be on backwards when you look down at it, you may need to have the bindings turned to match your stance. If you're buying a new board, the shop will probably be happy to do this for you for free.
        If you feel unstable, your bindings may be too close together or too far apart. Check to be sure your feet are roughly shoulder-width apart to ensure a proper stance.
        Check the angle for the lead binding. It should be at least 15 degrees off your line of sight as you stand on the board, to reduce the risk of spraining your ankle when you fall.
      </p>
  </div>

<!--  might make this a horizontal slide -->
<a href=""><h1 ng-click='val = !val'> Into the Mountains</h1></a>


</section>



<div ng-show='val' ui-view='featured' onclick="Materialize.showStaggeredList('#staggered-test')"></div>
