
<section class="jumbo">

    <div class="logo">
        <a href="#">
            <img src="img/snowrider.jpg" alt="logo">

        </a>
        <h1>SNOWRIDER</h1>
    </div>

    <div class="jumbo-text">
        <div>

            <h1 class="animated fadeInLeft">DISCOVER THE MOUNTAINS</h1>
            <h2>Discover the new 2016/17</h2>
            <a ui-sref='guide'><span >discover</span></a>
          </div>
      </div>

      <div class="jumbo-video">


        <video autoplay loop ng-src="{{vid}}"></video>
        <!-- poster="../img/jumbimg.png" -->
      </div>



</section>
