<section>
  <ul id="slide-out" class="side-nav">
      <li>
          <div class="userView">
              <div class="background">
                <jumbo-directive class="tv"></jumbo-directive>
              </div>



          </div>
      </li>
      <li><a ui-sref="home"><i class="material-icons">cloud</i>Home</a></li>
          <div class="divider"></div>
      <li><a ui-sref="guide"><i class="material-icons">perm_media</i>Guides</a></li>
          <div class="divider"></div>
      <li><a ui-sref="gear"><i class="material-icons">games</i>Gears</a></li>
          <div class="divider"></div>
      <li><a ui-sref="search"><i class="material-icons">my_location</i>Explore</a></li>
      <li>
          <div class="divider"></div>
      </li>
      <!-- <li><a class="subheader">Subheader</a></li> -->
      <!-- <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class=" medium material-icons">menu</i></a>

</section>
