<section class="resorts">

  <div class="">
    <video src="../img/guide6.mp4" autoplay loop ></video>
    <h1>1</h1>
      <p>Get on your snowboard. Secure your lead foot in place, but leave your back foot free for now. Once your lead foot is securely bound to your board, put on your snowboard leash to keep your snowboard from escaping down a hill when you step out of it. Leashes come in varying lengths; the most common type is long enough to strap below your knee.
Secure the leash to your snowboard, if it's not already integrated into the binding.
Wrap the leash around your lower leg and secure it snugly. For short wire leashes, attach the other end to your boot lace instead.
Be sure your leash is clearly visible. Many resorts won't allow you to snowboard without a visible leash.
    </p>
  </div>

<hr>

  <div class="parallax-container">
    <div class="parallax">
      <img  src="../img/guideimg3.png" alt="">

    </div>
    <h1>2</h1>
      <p>
        Ride the ski lift up. Push off the snow with your back foot to slide forward on the board like a skateboard, and let the lift chair sync up with you to get on it smoothly.
  Your snowboard will dangle a bit from your lead foot as you ride up. This is fine.
    </p>
  </div>
<hr>
  <div class="">
    <video src="../img/guide7.mp4" autoplay loop ></video>
    <h1>3</h1>
      <p>Get off the ski lift. Once you reach the top of the lift, slide off the chair on your board. You'll be on a little hill where you can then turn and make your way to the larger hill. Ride down to the flat area.
If you equipped your board with a stomp pad, it should be easy for you to stay balanced for this part.
    </p>
  </div>

<hr>

  <div class="parallax-container">
    <div class="parallax">
      <img  src="../img/guideimg4.jpg" alt="">

    </div>
    <h1>4</h1>
      <p style="color: #009688 ">Strap up. Go to the edge of the hill and sit down with your board perpendicular to the slope. This makes your board act as an extra “brake” to keep you from sliding.
Put your rear boot into its binding. Make sure the bindings are snug and secure.
If you can move your foot while in the binding, or pull your heel up from the base, it's too loose.
Double check your lead foot and leash, and ensure they're secure as well.
    </p>
  </div>

<hr>
  <!-- <div class="">
    <img src="../img/guideimg4.jpg" alt="">

  </div> -->

  <div class="">
    <video src="../img/guide8.mp4" autoplay loop ></video>
    <h1>5</h1>
      <p>Head downhill. Now that you're strapped in, you're ready to ride. Stand up and turn your snowboard so that the lead end of the board is pointing down the hill and apply some pressure to your lead foot to encourage the board to move forward. Gravity should take care of the rest.
      To properly apply pressure, pretend that you're squashing a bug under your lead foot. There's no need to lean forward with your body.
      Keep your knees slightly bent and your back straight to maintain balance as you gather speed.
    </p>
  </div>

<hr>

  <div class="">
    <video src="../img/guide9.mp4" autoplay loop ></video>
    <h1>6</h1>
      <p>Practice turning. It's important to know how to control your speed, and turning is the only way to do this while you're on the slope. Besides, you can't really have fun on a snowboard until you can turn on it.
      Lean your body into the side of the slope to put weight on one edge of your snowboard. The edge your feet are pointing towards is the “toe edge;” the edge behind them is the “heel edge.”
      Try both heel and toe edge turns. Most people have a preference for one type over the other, but eventually you'll learn to use them both.
      Redistribute your weight as you turn. Use your arms and torso to further control the weight you're using to turn your board. Maintain a straight back and bent knees as you do this, for safety reasons.

    </p>
  </div>

<hr>

  <div class="parallax-container">
    <div class="parallax">
      <img  src="../img/guideimg6.jpg" alt="">

  </div>
  <h1>7</h1>
    <p>
      Come to a stop. Come to a near-stop, if you prefer; the important thing is to know how to do it. Being able to stop and restart is key to staying safe on the slopes.
      Turn your snowboard so that you're perpendicular to the slope of the mountain. Be sure nobody is bearing down on your position from further up the hill.
      Lean back into the slope of the hill as far as you can without falling over. This will put almost your entire weight on one edge of the board, forcing it to slow quickly.
      As you lean into the hill, lean back on your rear foot at the same time. This further reduces the effective surface area of the board. The more you lean back, the faster you'll stop.
      Don't lean forward onto your leading foot; if you lose your balance in this position, the fall will be much more troublesome than if it happens on your rear foot.
      Once you're ready to continue, simply shuffle the board so that it's pointing slightly downward and apply pressure to your lead foot again.
  </p>
</div>


</section>
